/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');

body{
  margin: 0;
  background: linear-gradient(90deg, rgba(21,77,82,1) 8%, rgba(26,75,84,1) 100%);
  color: white;
  font-family: 'Girassol', cursive;
}

.boxOverflow{
  overflow: hidden;
  border: 3px solid white;
}

